__pycache__/
*.py[cod]
venv/
.env
*.egg-info/
backend/ml/fraud_model/data/
backend/ml/cv_model/data/
backend/ml/cv_model/data_fast/
backend/ml/cv_model/best_model.keras
backend/ml/cv_model/damage_model.keras
*.zip
*.h5
node_modules/
frontend/dist/
.DS_Store
pgdata/
*.log
backend/app/__pycache__/
backend/app/routers/__pycache__/
backend/app/services/__pycache__/
